STELLAR_NETWORK=stellar:testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
HORIZON_URL=https://horizon-testnet.stellar.org

USDC_ISSUER=YOUR_USDC_ISSUER_PUBLIC_KEY

PAYER_SECRET=YOUR_PAYER_SECRET
PAYER_PUBLIC=YOUR_PAYER_PUBLIC

SEARCH_PROVIDER_SECRET=YOUR_SEARCH_PROVIDER_SECRET
SEARCH_PROVIDER_PUBLIC=YOUR_SEARCH_PROVIDER_PUBLIC

WEATHER_PROVIDER_SECRET=YOUR_WEATHER_PROVIDER_SECRET
WEATHER_PROVIDER_PUBLIC=YOUR_WEATHER_PROVIDER_PUBLIC

INFERENCE_PROVIDER_SECRET=YOUR_INFERENCE_PROVIDER_SECRET
INFERENCE_PROVIDER_PUBLIC=YOUR_INFERENCE_PROVIDER_PUBLIC

FACILITATOR_STELLAR_PRIVATE_KEY=YOUR_FACILITATOR_PRIVATE_KEY

REGISTRY_ADMIN_SECRET=YOUR_REGISTRY_ADMIN_SECRET
REGISTRY_ADMIN_PUBLIC=YOUR_REGISTRY_ADMIN_PUBLIC

MPP_SECRET_KEY=YOUR_MPP_SECRET_KEY

COMMITMENT_SECRET_HEX=YOUR_COMMITMENT_SECRET_HEX
COMMITMENT_PUBLIC_HEX=YOUR_COMMITMENT_PUBLIC_HEX

FACILITATOR_PORT=4022
X402_FACILITATOR_URL=http://localhost:4022

SEARCH_X402_PRICE=0.02
WEATHER_X402_PRICE=0.01
INFERENCE_X402_PRICE=0.03

SERVICE_REGISTRY_CONTRACT_ID=YOUR_SERVICE_REGISTRY_CONTRACT_ID
REPUTATION_LEDGER_CONTRACT_ID=YOUR_REPUTATION_LEDGER_CONTRACT_ID
SEARCH_CHANNEL_CONTRACT=YOUR_SEARCH_CHANNEL_CONTRACT